html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
